div.grid {
	--cell-w: 50px;
	--grid-w: 5;
	--border-w: 2px;

	position: relative;
	left: 50%;
	transform: translateX(-50%);

	display: grid;
	grid-template-rows: repeat(var(--grid-w), var(--cell-w));
	grid-template-columns: repeat(var(--grid-w), var(--cell-w));

/* 	border: solid calc(var(--border-w) * 2) #000; */
	width: fit-content;
	aspect-ratio: 1;
}

div.cell {
	background-color: #eee;
	border: solid var(--border-w) #ddd;
	width: calc(var(--cell-w));
	aspect-ratio: 1;
}

div.cell.topBorder {
	border-top-color: black;
}

div.cell.rightBorder {
	border-right-color: black;
}

div.cell.bottomBorder {
	border-bottom-color: black;
}

div.cell.leftBorder {
	border-left-color: black;
}